<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>Authentication</title>

    @*<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <meta name="theme-color" content="#712cf9">

    
    <!-- Custom styles for this template -->
    <link href="sign-in.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/sigin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navBar.css" asp-append-version="true" />
</head>
<body>
       <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand navBarTitle" asp-area="">PatLena Forecast</a>
               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                    </ul>
                </div>
            <form class="form-inline">
                <a class="btn btn-outline-light navBarItem" style="white-space: normal;" asp-controller="Home" asp-action="CreateAccount">Create Account</a>
            </form>
            </div>
        </nav>
    @RenderBody(); @*precisamos do RenderBody para chamar cada file*@
</body>
</html>