@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="d-flex justify-content-around flex-wrap ">

    <img src="/img/storm.png" alt="storm" />
</div>

    @if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h1 class="text-warning" style="text-align:center; margin:25px;">
    @Model.Title
</h1>
<h3 class="text-light" style="text-align:center">
    @Model.Description
</h3>
