@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Authentication.cshtml";
}

<main class="form-signin w-100 m-auto">
    <form asp-action="Validation">
        <img class="mb-4" src="https://cdn-icons-png.flaticon.com/512/1610/1610215.png" width="72" height="72">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        @if (ViewData["auth_error"] != null)
        {
            <div class="alert-danger"><label>@ViewData["auth_error"]</label></div>

            <br />
        }

        @* <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>*@
        <button type="submit" class="btn btn-outline-primary">Submit</button>
        <p class="mt-5 mb-3 text-muted">&copy; Helena de Tróia & Patrícia Rocha;  </p>

    </form>
</main>






