html {
	position: relative;
	min-height: 100%;
}
body {
	
	background-image: url("/img/back_fo.png");
	background-size:cover;
	
}



span {
	display: inline-block;
}

.signinForm{
	width:300px;
	margin-top:200px;
}

.signinField{
	margin-top:10px
}

.signinButton{
	margin-top:20px;

}